/* ? deklarasi variabel */
:root {
  --primary: rgba(46, 2, 87, 1);
  --secondary: rgba(101, 56, 143, 1);
  --secondary-fade: rgba(101, 56, 143, 0.3);
  --yellow: rgba(245, 241, 47, 1);
  --yellow-fade: rgba(245, 241, 47, 0.3);
  --red: rgba(250, 33, 33, 1);
  --red-fade: rgba(250, 33, 33, 0.3);
  --light: rgba(242, 242, 242, 1);
  --shadow: 0px 1px 5px rgba(104, 104, 104, 0.8);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
  background: url('../img/paw-pattern.webp') center/cover;
  background-repeat: repeat;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  color: var(--light);
  min-height: 10vh;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}
.nav-scroll {
  background-color: var(--primary);
}
nav .nav-active {
  transform: translateX(0%);
}
.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav .logo .highlight {
  color: aquamarine;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 0;
  width: 45vw;
  background-color: var(--primary);
  list-style: none;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.nav-links li {
  letter-spacing: 1px;
}
.nav-links a {
  text-decoration: none;
  color: var(--light);
  font-weight: 300;
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  position: relative;
  z-index: 1;
  padding: 0.7em;
  border-radius: 4px;
  background-color: var(--secondary);
  cursor: pointer;
  transition: all 0.5s ease;
}
.burger .line-1, .burger .line-2, .burger .line-3 {
  width: 1.2em;
  height: 0.2rem;
  background-color: var(--light);
  border-radius: 2px;
  transition: all 0.5s ease;
}
.jumbotron {
  position: relative;
}
.jumbotron img{
  width: 100%;
  position: relative;
  border-radius: 0px 0px 8px 8px;
}
.jumbotron h1 {
  position: absolute;
  padding: .4em 1em;
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 6px;
  bottom: -0.5em;
  left: 5%;
  transform: rotate(-3deg);
}
.card {
  margin: 1rem;
  padding: 1.3rem;
  text-align: justify;
  background-color: var(--light);
  box-shadow: var(--shadow);
  border-radius: 6px;
}
#desc {
  margin-top: 2rem;
}
#desc p, #sejarah p {
  line-height: 2rem;
}
#desc p:nth-child(1) {
  margin-bottom: 1rem;
}
nav .nav-links .nav-links-fade-out {
  animation: navLinkFadeOut 0.5s ease !important;
}
.toggle {
  border-radius: 50%;
}
.toggle .line-1 {
  /* transform: rotate(-45deg) translateY(6px) translateX(-6px); */
  transform: rotate(-45deg) translateY(0.45rem) translateX(-0.45rem);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  /* transform: rotate(45deg) translateY(-6px) translateX(-5px); */
  transform: rotate(45deg) translateY(-0.45rem) translateX(-0.45rem);
}
.title {
  display: flex;
  padding-left: 2.2rem;
  gap: 1em;
}
.title i {
  align-self: flex-end;
  font-size: 2.5em;
  color: var(--primary);
}
.title .fa-thumbtack {
  transform: rotate(40deg);
}
.title h2 {
  display: inline-block;
  padding: .4em 1em;
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 6px;
  transform: rotate(-3deg);
}
#tentang-nav, #karakter-nav, #warna-nav, #sejarah-nav {
  display: block; 
  content: " "; 
  margin-top: -12vh; 
  height: 12vh; 
  visibility: hidden; 
  pointer-events: none;
}
#tentang .card, #karakter .card{
  display: flex;
  flex-direction: column;
}
.info-group {
  margin-top: 1em;
}
.info-group-2 {
  margin-top: 0.7em;
}
.info-group-wrapper {
  display: flex;
  flex-direction: column;
}
#karakter .info-group {
  display: flex;
  flex-direction: row;
  margin: 1em 0;

}
.info-left {
  display: flex;
  align-items: center;
  flex-basis: 35%;
  text-align: left;
}
.info-right {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-basis: 65%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}
.fa-bone {
  transform: rotate(-20deg);
}
.fa-bolt {
  transform: rotate(-20deg);
}
.fa-magnifying-glass {
  transform: rotate(90deg);
}
.secondary {
  color: var(--secondary);
}
.secondary-fade {
  color: var(--secondary-fade);
}
.yellow {
  color: var(--yellow);
}
.yellow-fade {
  color: var(--yellow-fade);
}
.red {
  color: var(--red);
}
.red-fade {
  color: var(--red-fade);
}
.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  grid-gap: 1em;
}
.container .card {
  margin: 0;
  padding: 0 0 0.6rem 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
.container img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}
#biodata .card {
  display: flex;
  flex-direction: column;
}
#biodata img {
  align-self: center;
  width: 20em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  color: var(--light);
  background-color: var(--primary);
  margin-bottom: -2px;
}
@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
@media(min-width:480px) {
  #tentang .card{
    flex-direction: row;
  }
  .left, .right {
    flex-basis: 50%;
  }
}
@media(min-width:768px) {
  .wrapper {
    display: flex;
  }
  article{
    flex-basis: 80%;
  }
  #biodata {
    flex-basis: 20%;
  }
  #biodata img{
    width: 100%;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    position: unset;
    padding-top: unset;
    height: unset;
    width: unset;
    background-color: unset;
    transform: none;
    transition: none;
    gap: 0.7rem;
  }
  nav .nav-links .nav-links-fade-out {
    animation: none !important;
  }
  .nav-links a {
    opacity: 1;
  }
  .burger {
    display: none;
  }
}
@media (min-width: 1025px) {
  .info-group-wrapper {
    flex-direction: row;
    gap: 5em;
  }
  .info-group-wrapper .info-group {
    flex-basis: 50%;
  }
}

/* font sizes */
@media (max-width: 623px) {
  html {
      font-size: 11px;
  }
  .jumbotron h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 624px) {
  html {
      font-size: 12px;
  }
}
@media (min-width: 702px) {
  html {
      font-size: 13px;
  }
}
@media (min-width: 780px) {
  html {
      font-size: 14px;
  }
}
@media (min-width: 858px) {
  html {
      font-size: 15px;
  }
}
